@* Partial shared que contiene los modales reutilizables para Artista y Álbum *@
<div class="modal fade" id="artistModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 media-modal">

            <div class="modal-header border-0">
                <h5 class="modal-title">Artista</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body text-center p-4">

                <div class="artist-image-wrapper mb-3">
                    <img id="artistModalImage"
                         class="rounded-circle artist-modal-img"
                         width="120"
                         height="120"
                         style="object-fit:cover;" />
                </div>

                <h4 id="artistModalName" class="mb-2"></h4>

                <p id="artistModalBio" class="opacity-75 small mb-3"></p>

                <hr class="opacity-25">

                <div class="row">
                    <div class="col-12 col-md-6 mb-3 text-start">
                        <h6 class="mb-2">Canciones</h6>
                        <ul id="artistSongsList" class="list-group list-group-flush text-start"></ul>
                    </div>
                    <div class="col-12 col-md-6 mb-3 text-start">
                        <h6 class="mb-2">Álbumes</h6>
                        <ul id="artistAlbumsList" class="list-group list-group-flush text-start"></ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="albumModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content border-0 media-modal">

            <div class="modal-header border-0">
                <h5 class="modal-title">Álbum</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body text-center p-4">

                <div class="album-image-wrapper mb-3">
                    <img id="albumModalImage"
                         class="rounded album-modal-img"
                         width="160"
                         height="160"
                         style="object-fit:cover;" />
                </div>

                <h4 id="albumModalTitle" class="mb-1"></h4>
                <p id="albumModalArtist" class="opacity-75 mb-1"></p>
                <p id="albumModalYear" class="opacity-50 small mb-3"></p>

                <hr class="opacity-25">

                <h6 class="mb-3 text-start">Canciones</h6>

                <ul id="albumSongsList" class="list-group list-group-flush"></ul>

            </div>

        </div>
    </div>
</div>